.order-summary-container {
    text-align: center;
    margin-left: 0em;
    margin-top: 4em;

    h1 {
        color: #071a52;
    }
}

.os-order-total-container {
    width: 50%;
    margin: 0 auto;
}

.order-summary-button {
    display: block;
    background: #071a52;
    margin: 0 auto;

    &:hover {
        background: #1e367e;
    }

}

.order-summary-edit-button {
    border: 2px solid #f9d266;
    background: #fff;
    color: #f9d266;

    &:hover {
        background: lighten(#f9d266, 3%);
        color: #fff;
    }
}

.order-summary-link {
    text-decoration: none;
}

.userProgress {
    position: relative;
    width: 100%;
    height: 20px;
    background-color: #fff;
    border-radius: 5px;
    margin: 0 auto;
    border: 1px solid #E4E4E4;
}

#fourOfFive {
    position: absolute;
    width: 80%;
    height: 100%;
    background: #071a52;
    border-radius: 5px 0px 0px 5px;
}

@media only screen and (min-width: 600px) {
    .order-summary-container {
        .userProgress {
            width: 20em;
        }
    }
}

@media only screen and (min-width: 960px) {
    .order-summary-container {
        margin-top: 0em;
        margin-left: 1em;
        padding-bottom: 3em;
    }
}
