.main-container {
  width: 100%;
  margin: 4em auto 0em auto;
  /* margin: 4em 0 0 0 ; */
  border-radius: 3px;
}

.second-container {
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0px;
}

.manu-title {
  padding: 1em;
  min-height: 6em;
  margin-top: 5em;
}

.grid-container > div {
  height: 180px;
  background-color: #fff;
  background-size: cover;
  /* background-attachment: fixed;  */
  border: 1px solid #edeff0;
  cursor: pointer;
  /* background: url('https://p0.pikist.com/photos/866/921/sandwich-basil-pass-review-salad-brunch-chi-avatar-bread-food.jpg'); */
}

.bg1 {
  background: url("https://p0.pikist.com/photos/866/921/sandwich-basil-pass-review-salad-brunch-chi-avatar-bread-food.jpg");
}
.bg2 {
  background: url("https://p0.pikist.com/photos/866/921/sandwich-basil-pass-review-salad-brunch-chi-avatar-bread-food.jpg");
}
.bg3 {
  background: url("https://p0.pikist.com/photos/866/921/sandwich-basil-pass-review-salad-brunch-chi-avatar-bread-food.jpg");
}
.bg4 {
  background: url("https://p0.pikist.com/photos/866/921/sandwich-basil-pass-review-salad-brunch-chi-avatar-bread-food.jpg");
}
.bg5 {
  background: url("https://p0.pikist.com/photos/866/921/sandwich-basil-pass-review-salad-brunch-chi-avatar-bread-food.jpg");
}
.bg6 {
  background: url("https://p0.pikist.com/photos/866/921/sandwich-basil-pass-review-salad-brunch-chi-avatar-bread-food.jpg");
}
.bg7 {
  background: url("https://p0.pikist.com/photos/866/921/sandwich-basil-pass-review-salad-brunch-chi-avatar-bread-food.jpg");
}
.bg8 {
  background: url("https://p0.pikist.com/photos/866/921/sandwich-basil-pass-review-salad-brunch-chi-avatar-bread-food.jpg");
}
.bg9 {
  background: url("https://p0.pikist.com/photos/866/921/sandwich-basil-pass-review-salad-brunch-chi-avatar-bread-food.jpg");
}
.bg10 {
  background: url("https://p0.pikist.com/photos/866/921/sandwich-basil-pass-review-salad-brunch-chi-avatar-bread-food.jpg");
}

@media only screen and (min-width: 600px) {
  .second-container {
    width: 28em;
    /* margin: 4em auto 2.5em auto; */
    margin: 0em auto 2.5em auto;
  }
}

@media only screen and (min-width: 960px) {
  .main-container {
    margin-top: 0em;
    margin-left: 5em;
  }
}
